__pycache__/
*.pyc
.venv/
.venv-*/
.pytest_cache/
.mypy_cache/
.ruff_cache/
.env
internal/secrets/gemini_api_key.txt
settings.json

outputs/*
!outputs/.gitkeep

*.aux
*.log
*.out
*.toc
*.fls
*.fdb_latexmk
.vscode